@import "../../theme.scss";

.Header__container {
  padding: 1.75rem;
  > h4 {
    font-weight: 50;
    color: rgba(72, 72, 72, 0.654);
  }
  > h1 {
    padding-top: 0.75rem;
    font-size: 1.75rem;
    color: $dark_font_color;
  }
}

@media only screen and (max-width: 330px) {
  .Header__container {
    padding: 2rem 1.75rem 1rem 1.75rem;
    > h4 {
      font-weight: 50;
      color: rgba(72, 72, 72, 0.654);
      font-size: 0.35rem;
      padding-top: 1.25rem;
    }
    > h1 {
      padding-top: 0.5rem;
      font-size: 0.6rem;
      padding-bottom: 2.25rem;
    }
  }
}
