@import "../../theme.scss";
.Grid__wrapper {
  height: max-content;
  width: 90%;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -4rem;
  padding-bottom: 2rem;

  .Grid__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem 3rem;
    overflow-y: auto;
    height: 65vh;
    padding: 2rem;
  }
}

.codewars {
  padding: 0.25rem;
  text-align: center;
  margin: 1rem 0;

  > h3 {
    padding: 0.5rem 0;
  }
  > p {
    padding: 0.5rem;
  }
}
