@import "../../theme.scss";
.Grid__wrapper {
  height: max-content;
  width: 90%;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -3rem;
  padding-bottom: 2rem;

  .Grid__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem 3rem;

    .card {
      display: grid;
      grid-template-columns: 1fr;
      background-color: #f6f8fe;
      height: 16rem;
      width: 16rem;
      margin: auto;
      border-radius: 1rem;
      transition: 0.5s ease;

      &:hover {
        transform: scale(1.025);
      }
    }
  }
}

.codewars {
  padding: 0.25rem;
  text-align: center;
  margin: 1rem 0;

  > h3 {
    padding: 0.5rem 0;
  }
  > p {
    padding: 0.5rem;
  }
}
