.card {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #f6f8fe;
  height: 16rem;
  width: 16rem;
  margin: auto;
  border-radius: 1rem;
  transition: 0.75s ease;
  overflow-y: auto;

  &:hover {
    transform: scale(1.025);
    background-color: #fff4f1;
  }

  > div {
    text-align: center;
    padding: 1rem;
    > h1 {
      padding-bottom: 0.25rem;
    }
    > p {
      padding: 0.25rem;
    }
  }
}

@media only screen and (max-width: 330px) {
  .card {
    height: 6rem;
    width: 6rem;

    > div {
      text-align: center;
      padding: 1rem;
      > h1 {
        padding-bottom: 0.25rem;
        font-size: 0.75rem;
      }
      > p {
        padding: 0.25rem;
        font-size: 0.5rem;
      }
    }
  }
}

@media only screen and (min-width: 330px) and (max-width: 600px) {
  .card {
    height: 8rem;
    width: 8rem;

    > div {
      text-align: center;
      padding: 1rem;
      > h1 {
        padding-bottom: 0.25rem;
        font-size: 0.75rem;
      }
      > p {
        padding: 0.25rem;
        font-size: 0.5rem;
      }
    }
  }
}
