.card {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #f6f8fe;
  height: 16rem;
  width: 16rem;
  margin: auto;
  border-radius: 1rem;
  transition: 0.75s ease;
  overflow-y: auto;

  &:hover {
    transform: scale(1.025);
    background-color: #fff4f1;
  }

  > div {
    text-align: center;
    padding: 1rem;
    > h1 {
      padding-bottom: 0.25rem;
    }
    > p {
      padding: 0.25rem;
    }
  }
}
