.inputBar {
  padding: 0.25rem;
  border-radius: 0.25rem;
  width: 15rem;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
button {
  background-color: transparent;
  border: none;
}

.s__container {
  .search {
    width: 1vw;
    padding: 0.25rem 1rem 0 0.5rem;
    margin: auto;
  }
}
